input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin-bottom: 100px;
}

.imgProduto {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.tamanhoImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.divProduto {
  flex: 0 0 23%;
}

@media (max-width: 500px) {
  .divProduto {
    flex: 0 0 45%;
  }

  .imgProduto {
    max-width: 150px;
    height: 150px;
    overflow: hidden;
  }
}