<app-header></app-header>
<div class="row mb-2 mt-1" style="margin-left: 0.5vw;">
    <div *ngFor="let produto of produtos"  class="col-md-3 mt-2" style="align-items: center; display: block;">
      <div class="card flex-row mb-4 shadow-sm">
        <div class="card-body d-flex flex-column align-items-center">
          <h3 class="mb-0">
            <span class="text" style="font-family: cursive;">{{produto.nome}}</span>
          </h3>
          <img class="card-img-right flex-auto d-lg-block"
            data-src="{{produto.url}}"
            alt="Thumbnail [200x250]"
            src="{{produto.url}}"
            style="width: 200px; height: 250px;">
          <div></div>
          <span class="shadow-lg bg-white rounded"
            style="position: absolute; margin-top: 4.5rem; margin-left: 8rem; font-family: serif; font-size: large; font-weight: bold; ">Por</span>
          <span class="shadow-lg p-1 bg-success rounded"
            style="position: absolute; margin-top: 6rem; margin-left: 12rem; font-family: serif; font-size: large; font-weight: bold; color: rgb(255, 255, 255); font-family: cursive;">R$
            {{produto.valor.toFixed(2).toString().replace('.', ',')}}</span>
          <button type="button" (click)='adicionarAoCarrinho(produto)'
            style="position: absolute; margin-top: 12rem; margin-left: -12rem; width: 5rem; height: 4rem; font-size: 12px;"
            class="btn btn-info">Adicionar ao carrinho</button>
          <div id="botoes">
            
            <!--<button class="btn btn-success" style="width: 14rem;" (click)="pedirAgora(produto)">Pedir agora</button>-->
          </div>

        </div>

      </div>
    </div>

<div *ngIf="carrinhoCheio()">
    <button class="btn btn-warning text-align-center" style="width: 100%; margin-left: auto; bottom: 10%; position: fixed; opacity: 80%;" (click)="fecharCarrinho()">FINALIZAR COMPRA</button>
</div>