<app-top-bar></app-top-bar>

<body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>

  <div id="conteudo" class="row mb-2 mt-1 py-2 ml-1 px-5">
    <form class="d-flex" role="search">
      <input
        (input)="filtrarProdutos(textoBusca.value)"
        #textoBusca
        class="form-control me-2 mb-2"
        type="search"
        style="opacity: 80%; text-align: center"
        placeholder="Filtrar Produto"
        aria-label="Search"
      />
      <button
        (input)="filtrarProdutos(textoBusca.value)"
        class="btn btn-outline-success mb-2"
      >
        Pesquisar
      </button>
    </form>
    <button
      class="btn btn-success mb-3"
      (click)="abrir()"
      id="abrirModalNovoProduto"
    >
      Adicionar novo produto
    </button>

    <div
      id="modalNovoProduto"
      class="modal mt-5 pt-3"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cadastro de Produto</h5>
            <button
              type="button"
              id="botaoFechaModal"
              class="btn-close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="fechar()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              [formGroup]="formularioProduto"
              (ngSubmit)="onSubmit()"
              ngNativeValidate
            >
              <div class="mb-1">
                <label for="exampleFormControlInput1" class="form-label"
                  ><b>Nome do Produto</b></label
                >
                <input
                  formControlName="nomeDoProduto"
                  type="text"
                  class="form-control mb-2"
                  id="nomeDoProduto"
                  placeholder="ex: Brahma Litrão"
                  required
                />
                <label for="exampleFormControlInput1" class="form-label"
                  ><b>Preço</b></label
                >
                <input
                  type="number"
                  step="0.1"
                  class="form-control"
                  formControlName="precoDoProduto"
                  placeholder="ex: 12,90"
                  required
                />
              </div>
              <div class="mb-2">
                <label for="categoria" class="form-label"
                  ><b>Categoria</b></label
                >
                <select
                  formControlName="categoria"
                  id="categoria"
                  class="form-control"
                  required
                >
                  <option value="default">Selecione a categoria</option>
                  <option value="bebidas">Bebidas</option>
                  <option value="comidas">Comidas</option>
                  <option value="outros">Outros</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="arquivo" class="form-label"><b>Imagem</b></label>
                <input
                  (change)="[(imagem = $event)]"
                  class="form-control"
                  type="file"
                  accept="image/*"
                  required
                />
              </div>
              <button type="submit" class="btn btn-success w-100">
                Cadastrar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div
      id="modalAlterarFotoProduto"
      class="modal mt-5 pt-3"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Alterar foto do produto -> <span id="idProdutoAltFoto"></span>
              <span id="produtoNome"></span>
            </h5>
            <button
              type="button"
              id="botaoFechaAlterarFoto"
              class="btn-close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <label for="novaImagem" class="form-label"><b>Nova imagem</b></label>
                <input
                  (change)="[(novaImagem = $event)]"
                  class="form-control"
                  type="file"
                  accept="image/*"
                  required
                />
              </div>
              <button type="submit" class="btn btn-success w-100" (click)="alterar()">
                Alterar
              </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="display: block">
      <div
        class="card flex-row mb-4 ml-1 px-1 text-center"
        style="width: 18rem"
      >
        <div class="card-body">
          <h5 class="card-title">Nome Produto</h5>
          <img src="./../img/brahma.jpg" width="150px" height="150px" alt="" />
          <h6 class="card-subtitle mb-2 text-muted">Preço</h6>
          <div style="display: inline-block">
            <button class="btn btn-warning">Alterar Preço</button>
            <button class="btn btn-info">Alterar Foto</button>
            <button class="btn btn-danger">Excluir</button>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="lista.length <= 0; else existemProdutos"
      style="
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      "
    >
      <h2>Não há produtos disponíveis no momento</h2>
    </div>
    <ng-template #existemProdutos>
      <div class="row mb-2 mt-1" style="max-width: 99%; margin-left: 0.5vw">
        <div>
          <span></span>
        </div>
        <hr />
        <div
          style="
            display: flex;
            justify-content: center;
            margin: 0 auto;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
          "
        >
          <div *ngFor="let produto of lista" style="flex: 0 0 23%">
            <div
              class="card mb-4 shadow-sm"
              style="height: 100%; align-items: center"
            >
              <h3 class="mb-0 mt-2" style="text-align: center; grid-row: 1">
                <span class="text" style="font-family: cursive">{{
                  produto.nome
                }}</span>
              </h3>
              <div style="width: 250px; height: 250px; overflow: hidden">
                <img
                  class=""
                  data-src="{{ produto.url }}"
                  alt="Thumbnail [200x250]"
                  src="{{ produto.url }}"
                  style="width: 250px; height: 250px; object-fit: contain"
                />
              </div>
              <div class="card-body d-grid" style="align-items: end">
                <div
                  style="
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <span
                    class="shadow-lg p-1 bg-success rounded"
                    style="
                      font-family: serif;
                      font-size: large;
                      font-weight: bold;
                      color: rgb(255, 255, 255);
                      font-family: cursive;
                    "
                    >R$
                    {{
                      produto.valor.toFixed(2).toString().replace(".", ",")
                    }}</span
                  >
                </div>
              </div>
              <div style="display: flex">
                <button
                  class="btn btn-warning"
                  style="width: 40%; margin: 10px"
                >
                  Alterar Preço
                </button>
                <button class="btn btn-info" style="width: 40%; margin: 10px" (click)="modalNovaFoto(produto)">
                  Alterar Foto
                </button>
                <button
                  class="btn btn-danger"
                  style="width: 40%; margin: 10px"
                  (click)="excluirProduto(produto)"
                >
                  Excluir
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</body>
<footer></footer>
