<div class="modal d-block mt-5 pt-3" tabindex="-1" style="z-index: 4;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-4 mb-0">Categorias</h5>
                <button class="btn btn-sm btn-warning pt-0 pb-0 mx-2" (click)="abrirModalCriarCategoria()">[+] Nova
                    Categoria</button>
                <button (click)="fechar()" type="button" id="botaoFechaModal" class="btn-close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto; min-height: 250px;">
                <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center">
                    <span *ngFor="let categoria of categorias" class="btn btn-info btn-sm" style="cursor: default;">[{{
                        categoria.id }}] {{ categoria.categoria | uppercase }} <button
                            class="btn btn-danger btn-sm pt-0"
                            (click)="deletarCategoria(categoria)">excluir</button></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modalCriarCategoria">
    <div class="modal d-block mt-5 pt-3" tabindex="-1" style="z-index: 10;" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-4 mb-0">NOVA CATEGORIA</h5>
                    <button (click)="fecharModalCriarCategoria()" type="button" id="botaoFechaModal" class="btn-close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="formularioCriarCategoria" (ngSubmit)="submitNewCategoria()">
                    <div class="modal-body">
                        <div class="input-group input-group-sm mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Nome da Categoria</span>
                            </div>
                            <input formControlName="categoria" type="text" class="form-control" aria-label="Small"
                                aria-describedby="inputGroup-sizing-sm"
                                [ngClass]="{'is-invalid': formularioCriarCategoria.controls['categoria'].status == 'INVALID' && formularioCriarCategoria.controls['categoria'].touched}">
                        </div>
                    </div>
                    <div class="modal-footer d-flex flex-column gap-0">
                        <button class="btn btn-success w-100" type="submit"
                            [disabled]="formularioCriarCategoria.status.toString() !== 'VALID'">Criar</button>
                        <button class="btn btn-danger" type="button"
                            (click)="fecharModalCriarCategoria()">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>