<app-top-bar></app-top-bar>
<body>
    <!--class row-->
    <div class="m-2" style="display: flex;  justify-content: space-evenly;">
            <!--class col-sm-->
        <div class="" style="display: block;">
            <div class="card flex-row mb-4 ml-1 px-1 text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Produtos {{zap}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Gestão e visualização de produtos</h6>
                    <button class="btn btn-info" routerLink="/produtos">Produtos</button>
                </div>
            </div>

        </div>
            <!--class col-sm-->
        <div class="" style="display: block;">
            <div class="card col flex-row mb-4 ml-1 px-2 text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Whatsapp</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Visualizar e alterar número de redirecionamento ao Whatsapp</h6>
                    <button class="btn btn-success">Ver</button>
                </div>
            </div>
        </div>
    </div>
    <div id="conteudo" class="d-inline-block row mb-2 mt-1 py-2 ml-1 px-5">
        

    </div>

</body>