/* You can add global styles to this file, and also import other style files */
.powered{
    position: absolute;
    margin-left: 1%;
    font-size: smaller;
    color: gray;
    margin-bottom: 1px;
}