.carrinho {
    position: fixed;
    bottom: 0;
    right: 0;
}

.texto-carrinho{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20x;
    margin-bottom: 30px;
    font-size: 0.8rem;
    text-wrap: wrap;
    z-index: 10;
}