input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin-bottom: 100px;
}

.imgProduto {
  width: 60%;
  height: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sticky-categorias{
  display: block;
  position: sticky;
  top: 0;
  z-index: 1500;
}

.tamanhoImg {
  object-fit: contain;
}

.divProduto {
  flex: 0 0 28%;
  max-width: 20%;
}

@media (max-width: 500px) {
  .divProduto {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .imgProduto {
    max-width: 150px;
    height: 150px;
    overflow: hidden;
  }

}

mat-button-toggle {
  color: rgb(37, 37, 37);
}

.mat-button-toggle-checked {
  background-color: #F05D23 !important;
  color: white;
}

mat-button-toggle:active {
  background-color: #F05D23 !important;
  color: white;
}

mat-snack-bar {
  color: #F05D23;
}

.btn {
  transition-property: transform;
  transition-duration: 800ms;
}

.imgProduto:is(:hover) {
  transition-property: transform;
  transition-duration: 800ms;
  transform: scale(1.3);
}

.btnCarrinho:is(:hover) {
  transform: scale(1.2);
}